<!-- header begins -->
<header id="header-section" class="float header">
<div class="header-container">
  <!-- logo begins -->
  <div class="logo-area">
      <a class="logo" href="#/home"><img src="../../assets/images/logo.png" alt="LAVA" /></a>
  </div>
  <!-- logo ends -->
  <!-- user area begins -->
  <div class="user-area">
      <div class="dropdown">
          <a class="dropdown-toggle" href="javascript:void(0);">
              <img src="../../assets/images/user-icon.png" alt="user" />
              <!-- <span class="badge color-pink">3</span> -->
          </a>
      </div>
  </div>
  <!-- user area ends -->
  <!-- menu dropdown begins -->
  <nav class="menu-dropdown">
      <ul>
          <!-- <li class="owner"><a href="javascript:void(0);">{{ownerName}}</a></li> -->
          <li class="posts"><a href="#/home">Posts for me <span class="badge color-pink">3</span></a></li>
          <li class="moments"><a href="#/moments">Moments</a></li>
          <li class="settings"><a href="#/user-settings">Settings</a></li>
          <li class="logout"><a href="#/logout">Logout</a></li>
      </ul>
  </nav>
  <!-- menu dropdown ends -->
</div>
</header>
<!-- header ends -->