<div id="page" class="page dashboard broadcast-page">
  <!-- page begins -->

  <section id="content-section" class="content content-home">
        <ngx-loading class="overly-spinner" [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
          <!-- page content begins -->
          <div class="dashboard-wrapper">
              <div class="dashboard-box">
               

                

              

              </div>
          </div>
          <!-- page content ends -->
  </section>

</div>