<div class="login-page">
    <button id='confirm-login'
    class="btn btn-default"
    mwlConfirmationPopover
    [popoverTitle]="popoverTitle"
    [popoverMessage]="popoverMessage"
    placement="bottom"
    (confirm)='continueWithLogin()'
    (cancel)="cancelClicked = true" 
    [customTemplate]="customTemplate"
    [appendToBody] = true
    [(isOpen)]="isOpen" hidden>
    Click me!
  </button>
  <div id="page" class="page login">
      <!-- page begins -->
      <div class="login-wrapper">
          <!-- Logo section begins -->
          <div class="float login-logo">
              <a href="#/">&nbsp;</a>
          </div>
          <!-- Logo section ends -->

          <!-- Authentication message begins -->
          <div class="login-message" *ngIf="loginError">
                <a class="dismiss" href="" ng-click="close();">&nbsp;</a>
                <span>{{loginMessage}}</span>
            </div>
            <!-- Authentication message ends -->

          <!-- Login form begins -->

          <div class="float login-area">
              <!-- <div class="float" ng-show="oneLoginBoolean">
                  <a href="javascript:void(0)" ng-click="oneLogin();">One Login</a>
                  <br/><br/><br/>
              </div> -->
              <div class="login-form">
                  <!-- <form novalidate> -->
                      <div class="field-row username-field">
                          <input type="text" id="login-username" [(ngModel)]="username" name="username" class="login-field login-username" placeholder="Username or email" />
                      </div>
                      <div class="field-row password-field">
                          <input type="password" id="login-password" [(ngModel)]="password" name="password" class="login-field login-password" placeholder="Password" />
                      </div>
                      <div class="submit-row">
                          <button type="submit" id="login-submit" class="login-submit" (click)="logIn();">&nbsp;</button>
                      </div>
                  <!-- </form> -->
              </div>
              <!-- <div class="login-forgot">
                  <a href="#/forgot">forgot password?</a>
              </div> -->
          </div>
          <!-- Login form ends -->
          <!-- {{appVersion}} -->
          <!-- <div ng-show="isLoading">
              <img src="images/ajax-loader.gif" width="20" height="20" /> Authenticating...Please wait...
          </div> -->
       
      </div>
  </div>
  <ng-template #customTemplate let-options="options">
      <div class="confirm-template">
      <div class="confirm-modal modal">
        <div class="modal-header warning-header">
        <button type="button" class="close" (click)="cancelLogin()"></button>

        <h3 class="modal-title modal-warning warning-title ">Warning</h3></div>
        <div class="modal-body warning-text">{{popoverMessage}}</div>
        <div class="modal-footer warning-footer">
        <button ng-if="data.cancel" class="cancel-default-button" (click)="cancelLogin()">Cancel</button>
        <button class="btn btn-primary btn-cancel" id="confirm-button" autofocus (click)="continueWithLogin()">Yes</button>
        </div>
    </div>
</div>
 </ng-template>
  <!-- page ends -->
</div>