<!-- sidebar begins -->
<aside id="sidebar" class="sidebar-menu" ng-include="'view/sidebar.html'">
<ul class="nav-menu">
  
      <li class="home">
          <a tabindex="0" is-active-nav href="#/home">Home</a>
      </li>
      <!-- Menu Home -->
      <li class="analyze has-submenu" >
          <a tabindex="0" is-active-nav href="javascript:void(0);">Analyze</a>
          <img src="../../assets/images/sidebar/submenu-arrow.png" />
          <ul class="submenu" class="fixed-top-menu">
              <li class="cep"  class="disable-menu'">
                  <a tabindex="0" is-active-nav  href="#/cep">Customer engagement profile</a>
              </li>
              <li class="fan360" class="disable-menu">
                  <a tabindex="0" is-active-nav href="#/fan360">Fast360 fan dashboard</a>
              </li>
              <li class="gameday"  class="disable-menu">
                  <a tabindex="0" is-active-nav href="#/gameday">Game day dashboard</a>
              </li>
              <li class="global" class="disable-menu':disableDashboard.GLOBAL">
                  <a tabindex="0" is-active-nav href="#/global">Global platform dashboard</a>
              </li>
              <li class="falcons"  class="disable-menu">
                  <a tabindex="0" is-active-nav href="#/falcons">Attendance dashboard</a>
              </li>
              <li class="gaming"  class="disable-menu">
                  <a tabindex="0" is-active-nav href="#/moment-dashboard">Moment dashboard</a>
              </li>
              <li class="abtest"  class="disable-menu">
                  <a tabindex="0" is-active-nav href="#/abtest-dashboard">AB Test dashboard</a>
              </li>
              <li class="masterpass"  class="disable-menu">
                  <a tabindex="0" is-active-nav href="#/engagement-dashboard">Engagement dashboard</a>
              </li>
              <li class="sweepstakes"  class="disable-menu">
                  <a tabindex="0" is-active-nav href="#/sweepstakes">Sweepstakes dashboard</a>
              </li>
              <li class="spotfire" class="disable-menu">
                  <a tabindex="0" is-active-nav href="#/spotfire-2015">Spotfire 2015-2016 dashboard</a>
              </li>
              <li class="spotfire"  class="disable-menu">
                  <a tabindex="0" is-active-nav href="#/spotfire-2016">Spotfire 2016-2017 dashboard</a>
              </li>
          </ul>
      </li>
      <!-- Menu Analyze -->
      <!-- <li class="manage">
          <a tabindex="0" is-active-nav href="#/manage">Manage</a>
      </li> -->
      <!-- Menu Manage -->
      <li class="design has-submenu">
          <a tabindex="0" is-active-nav  href="javascript:void(0);">Design</a>
          <img src="../../assets/images/sidebar/submenu-arrow.png" />
          <ul class="submenu">
              <li class="moments">
                  <a tabindex="0" is-active-nav href="#/moments">Moments</a>
              </li>
              <li class="segments" >
                  <a tabindex="0" is-active-nav href="#/segments">Profiles</a>
              </li>
              <li class="engagements" >
                  <a tabindex="0" is-active-nav href="#/engagements">Engagements</a>
              </li>
          </ul>
      </li>
      <!-- Menu Design -->
      <li  class="resources has-submenu" >
          <a tabindex="0" is-active-nav  href="javascript:void(0);">Resources</a>
          <img src="../../assets/images/sidebar/submenu-arrow.png" />
          <ul class="submenu">
              <!--<li class="user-settings">
                  <a tabindex="0" is-active-nav href="#/user-settings">User settings</a>
              </li>-->
              <li class="vip-settings" >
                  <a tabindex="0" is-active-nav   href="#/gameday-vip">Game Day VIPs</a>
              </li>
              <li class="geolocation-settings">
                  <a tabindex="0" is-active-nav href="#/geolocation-settings">Geo Location Settings</a>
              </li>
              <li class="hold-table" >
                  <a tabindex="0" is-active-nav  href="#/hold-settings">Hold Adjustment Tables</a>
              </li>
              <li class="rebate-table">
                  <a tabindex="0" is-active-nav href="#/rebate-settings">Rebate Tables</a>
              </li>
              <!--<li class="beacon-settings">
                  <a tabindex="0" is-active-nav href="#/beacon-settings">Beacon settings</a>
              </li>
              <li class="geofence-settings">
                  <a tabindex="0" is-active-nav href="#/geofence-settings">Geofence settings</a>
              </li>
              <li class="edit-stores">
                  <a tabindex="0" is-active-nav href="#/edit-stores">Edit Stores, Brands, Categories</a>
              </li>-->
              <li class="content-management">
                  <a tabindex="0" href="#/content-management" is-active-nav>Content management</a>
              </li>
              <!--<li class="inventory">
                  <a tabindex="0" is-active-nav href="#/inventory">Inventory</a>
              </li>-->
          </ul>
      </li>
      <!-- Menu Resources -->
  
  </ul>
  <!-- sidebar ends -->
  <span ng-bind="appVersion"></span>
</aside>