/* @import url('https://fonts.googleapis.com/css?family=Montserrat'); */

/**
 * Reset CSS
 * -----------------------------------------------------------------------------
 */

 html,
 body,
 div,
 span,
 applet,
 object,
 iframe,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 blockquote,
 pre,
 a,
 abbr,
 acronym,
 address,
 big,
 cite,
 code,
 del,
 dfn,
 em,
 font,
 ins,
 kbd,
 q,
 s,
 samp,
 small,
 strike,
 strong,
 sub,
 sup,
 tt,
 var,
 dl,
 dt,
 dd,
 ol,
 ul,
 li,
 fieldset,
 form,
 label,
 legend,
 table,
 caption,
 tbody,
 tfoot,
 thead,
 tr,
 th,
 td {
     border: 0;
     font-family: inherit;
     font-size: 100%;
     font-style: inherit;
     font-weight: inherit;
     margin: 0;
     outline: 0 none;
     padding: 0;
     vertical-align: baseline;
 }
 
 article,
 aside,
 details,
 figcaption,
 figure,
 footer,
 header,
 hgroup,
 nav,
 section {
     display: block;
 }
 
 audio,
 canvas,
 video {
     display: inline-block;
     max-width: 100%;
 }
 
 input:-webkit-autofill {
     -webkit-background-color: rgba(250, 255, 255, 0.1);
     -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0.1) inset;
     -webkit-text-fill-color: black;
 }
 
 .login-area::-webkit-input-placeholder {
     /* WebKit, Blink, Edge */
     color: #fff;
 }
 
 .login-area:-moz-placeholder {
     /* Mozilla Firefox 4 to 18 */
     color: #fff;
     opacity: 1;
 }
 
 .login-area::-moz-placeholder {
     /* Mozilla Firefox 19+ */
     color: #fff;
     opacity: 1;
 }
 
 .login-area:-ms-input-placeholder {
     /* Internet Explorer 10-11 */
     color: #fff;
 }
 
 .login-area:placeholder-shown {
     /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
     color: #fff;
 }
 
 
 /**
  * Custom CSS
  * -----------------------------------------------------------------------------
  */
 
 html {
     width: 100%;
     height: 100%;
 }
 
 body {
     width: 100%;
     min-height: 100%;
     font-family: 'Montserrat', sans-serif;
     font-weight: 400;
     font-size: 14px;
     line-height: 1;
     background: #ffffff;
     color: #e22b6c;
 }
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     margin: 0;
     line-height: 1;
     font-weight: 700;
 }
 
 :hover,
 :focus,
 :active {
     outline: none !important;
     text-decoration: none;
 }
 
 strong {
     font-weight: 700;
 }
 
 button,
 input,
 select,
 textarea {
    font-family: 'Montserrat', sans-serif;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     font-size: 100%;
     margin: 0;
     max-width: 100%;
     vertical-align: middle;
     box-shadow: none !important;
     -moz-box-shadow: none !important;
     -webkit-box-shadow: none !important;
 }
 
 img {
     max-width: 100%;
 }
 
 table {
     width: 100%;
     font-weight: 400;
     font-size: 14px;
     line-height: 1;
     color: #86949F;
     margin: 0;
     border-collapse: separate;
     border: 0 none;
 }
 
 table>thead>tr>th {
     font-size: 12px;
     line-height: 1;
     color: #5e5e5e;
     font-weight: 300;
     text-transform: uppercase;
     text-align: center;
     vertical-align: middle;
     border: 0 none;
 }
 
 input[type="submit"],
 button,
 .button,
 .btn {
     font-weight: 300;
     font-size: 14px;
     line-height: 1;
     color: #ffffff;
     text-transform: uppercase;
     background-color: #fc17a6;
     padding: 10px 30px 9px;
     border: 0 none;
     border-radius: 45px;
     -moz-border-radius: 45px;
     -webkit-border-radius: 45px;
 }
 
 input[type="submit"]:disabled,
 button:disabled,
 .button:disabled {
     opacity: 0.50;
 }
 
 input[type="submit"]:hover,
 button:hover,
 .button:hover {
     background-color: #fd54ba;
 }
 
 .btn-default {
     background-color: #ffffff;
     border-color: #cccccc;
     color: #4c4c4c;
 }
 
 .cancel-default-button {
     background: none;
     text-transform: capitalize;
     font-size: 12px;
     color: #a9b7c5;
     font-weight: 400;
     padding: 11px 0 10px;
     margin: 0 20px;
 }
 
 .cancel-default-button:hover,
 .cancel-default-button:focus,
 .cancel-default-button:active {
     background: none !important;
     box-shadow: none !important;
 }
 
 .cancel-default-button:last-child {
     margin: 0;
 }
 
 .btn-default:hover,
 .btn-default:focus,
 .btn-default:active {
     background: #ffffff !important;
     box-shadow: none !important;
 }
 
 svg {
     font-family: 'Montserrat', sans-serif;
     font-weight: 400;
 }
 
 
 /* Common CSS */
 
 .view {
     float: left;
     width: 100%;
     height: 100vh;
     display: table;
 }
 
 .page {
     float: left;
     width: 100%;
     height: 100vh;
     min-width: 1360px;
     position: relative;
     display: table;
 }
 
 .float {
     float: left;
     width: 100%;
 }
